In [1]:
import pandas as pd

# Basic Predictions

In [3]:
m_submissions = pd.read_csv('submissions/m_submission.csv')
print(len(m_submissions))
m_submissions.head()

66066

               ID      Pred
0  2025_1101_1102  0.310714
1  2025_1101_1103  0.197580
2  2025_1101_1104  0.266722
3  2025_1101_1105  0.324603
4  2025_1101_1106  0.281323

In [4]:
w_submissions = pd.read_csv('submissions/w_submission.csv')
print(len(w_submissions))
w_submissions.head()

65341

               ID      Pred
0  2025_3101_3102  0.308937
1  2025_3101_3103  0.414232
2  2025_3101_3104  0.273662
3  2025_3101_3105  0.431319
4  2025_3101_3106  0.475366

In [8]:
submissions = pd.concat([m_submissions, w_submissions]).reset_index(drop=True)
display(submissions)
submissions.to_csv('submissions/final_submission.csv', index=False)

                    ID      Pred
0       2025_1101_1102  0.310714
1       2025_1101_1103  0.197580
2       2025_1101_1104  0.266722
3       2025_1101_1105  0.324603
4       2025_1101_1106  0.281323
...                ...       ...
131402  2025_3477_3479  0.420558
131403  2025_3477_3480  0.345677
131404  2025_3478_3479  0.389919
131405  2025_3478_3480  0.307445
131406  2025_3479_3480  0.285575

[131407 rows x 2 columns]

# Chalk (Anti-Upset)

In [9]:
m_submissions_chalk = pd.read_csv('submissions/m_submission_chalk.csv')
print(len(m_submissions_chalk))
m_submissions_chalk.head()

66066

               ID      Pred
0  2025_1101_1102  0.310714
1  2025_1101_1103  0.197580
2  2025_1101_1104  0.266722
3  2025_1101_1105  0.324603
4  2025_1101_1106  0.281323

In [10]:
w_submissions_chalk = pd.read_csv('submissions/w_submission_chalk.csv')
print(len(w_submissions_chalk))
w_submissions_chalk.head()

65341

               ID      Pred
0  2025_3101_3102  0.308937
1  2025_3101_3103  0.414232
2  2025_3101_3104  0.273662
3  2025_3101_3105  0.431319
4  2025_3101_3106  0.475366

In [11]:
submissions_chalk = pd.concat([m_submissions_chalk, w_submissions_chalk]).reset_index(drop=True)
display(submissions_chalk)
submissions_chalk.to_csv('submissions/final_submission_chalk.csv', index=False)

                    ID      Pred
0       2025_1101_1102  0.310714
1       2025_1101_1103  0.197580
2       2025_1101_1104  0.266722
3       2025_1101_1105  0.324603
4       2025_1101_1106  0.281323
...                ...       ...
131402  2025_3477_3479  0.420558
131403  2025_3477_3480  0.345677
131404  2025_3478_3479  0.389919
131405  2025_3478_3480  0.307445
131406  2025_3479_3480  0.285575

[131407 rows x 2 columns]